.auth-links {
    justify-self: end;
}
.logo-container {
    display: flex;
    justify-content: center;
    height: 100%;
}
.logo-container a {
    background: url("./../../assets/img/crowdfunding.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 3rem;
}

.sticky {
    margin: 0;
    border-radius: 0;
    width: 100%;
    max-width: 100%;
    box-shadow: 0 .375rem .875rem rgba(0,0,0,.1);
}

header {
    position: fixed;
    z-index: 1001;
    width: 100%;
}

mat-toolbar {
    display: flex;
    justify-content: center;
    /* border-radius: 3%/50%; */
    font-family: "Poppins", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    box-sizing: border-box;
    transition: min-height 0.3s ease;
    z-index: 1001;
    margin: 1rem auto;
    padding: 0 2rem;
    position: relative;
    width: auto;
    max-width: 80%;
    background: #fff;
    color: #333;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 50px/50px;
}