<!-- login.component.html -->
<div class="login-container card flex flex-column md:flex-row gap-3">
    <h2>Login</h2>

    <div class="input-group">
        <span class="p-float-label">
            <input type="text" pInputText id="username" [(ngModel)]="username" />
            <label for="username">Username</label>
        </span>
    </div>

    <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
            <i class="pi pi-user"></i>
        </span>
        <input pInputText placeholder="Username" />
    </div>
    <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
            <i class="pi pi-user"></i>
        </span>
        <input pInputText placeholder="Username" />
    </div>

    <div class="input-group">
        <span class="p-float-label">
            <input type="password" pPassword id="password" [(ngModel)]="password" />
            <label for="password">Password</label>
        </span>
    </div>

    <div class="checkbox-group">
        <p-checkbox [(ngModel)]="rememberMe" binary="true" label="Remember me"></p-checkbox>
    </div>

    <button pButton type="button" label="Login" class="p-button-success" (click)="login()"></button>

    <p-toast [style]="{ marginTop: '20px' }" [position]="'top-center'"></p-toast>
</div>