::ng-deep p-password .p-password {
    width: 100% !important;
} 
::ng-deep p-password .p-icon-wrapper {
    z-index: 1;
}

.signup-container {
    border: unset;
}

#slideOverSignUpContainer {
    right: 0rem;
    top: 0;
    bottom: 0;
    left: calc(100% - 42rem);
}