<footer>
    <mat-toolbar color="primary">
        <div class="footer-content">
            <div class="footer-logo">
                <a mat-icon-button aria-label="GoFundMe.com" href="/">
                    <mat-icon>favorite</mat-icon>
                </a>
            </div>
            <div class="footer-links">
                <a mat-button routerLink="/start/medical-fundraising">Medical</a>
                <a mat-button routerLink="/start/emergency-fundraising">Emergency</a>
                <a mat-button routerLink="/start/memorial-fundraising">Memorial</a>
                <a mat-button routerLink="/start/education-fundraising">Education</a>
                <a mat-button routerLink="/start/charity-fundraising">Nonprofit</a>
            </div>
        </div>
    </mat-toolbar>
</footer>