.logo-container {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.logo-container a {
    background: url("/assets/img/crowdfunding.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
}

.title-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

::ng-deep .p-steps-number {
    margin-bottom: 1.5rem;
}

::ng-deep .p-dropdown.p-component {
    display: flex;
}