.custom-dropzone, .buttons-container {
    /* width: 40rem; */
}

.custom-dropzone {
    height: 30rem;
    /* margin: 0 auto 10rem; */
    justify-content: center;

    border-radius: 0.375rem;
    border-width: 2px;
    border-style: dashed;
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

ngx-dropzone-image-preview {
    width: 100% !important;
    justify-content: center !important;
    height: unset !important;
    margin: unset !important;
    max-height: 90% !important;
    min-width: unset;
    min-height: unset !important;
    max-width: unset;
}

::ng-deep ngx-dropzone-image-preview img {
    width: 100%;
}

